.editRecipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    max-width: 600px;
    margin: 20px auto;
  }
  
  .editRecipe h1 {
    font-size: 29px;
    margin-bottom: 20px;
    color: gray;
  }
  
  .editRecipe input,
  .editRecipe textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 3.5px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .editRecipe textarea {
    resize: vertical; 
  }
  
  .editRecipe button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .editRecipe button:hover {
    background-color: orange; 
  }
  
  .editRecipe h3 {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
  }
  