.recipeDetail {
    padding: 20px;
    padding-top: 10px;
    background-color: whit; 
    max-width: 600px; 
    margin: auto; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.recipeDetail img {
    padding-left: 185px;
    /* max-width: 100%; 
    height: auto;  */
    border-radius: 10px; 
}
