


.title1{
    color: black;
}
    
  
  .mainInput{
    flex-direction: column;
    justify-content:column;
    text-align:center
  }

  .cold{
    color: black;
  }
  .inputName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
 
  }

  .inputName >.errorLabel{
    color: red;
    font-size: 15px;
  }