.App  {
  text-align: center;
  flex-direction: column;
  background-color: aqua;
}

.App img {
  max-width: 100%;
  height: auto;
}

.button1{
  justify-content: center;
  text-align: center;
}

.mainApp{
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  background-color: gray;
  
  
}